.home {
  &-container {
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url("../assets/home_bg.jpg") 0 0 no-repeat;
    background-size: cover;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 10rem;
  }
  &__welcome {
    font-size: 1.2rem;
    margin: 1rem 0 -1rem 0;
    // flex: 1;
  }
  &__name {
    color: $primary-white;
    font-size: 7rem;
    // flex: 1;
  }
  &__major {
    // color: $primary-yellow;
    margin-top: -2.5rem;
    font-size: 1.5rem;
    // flex: 1;
  }
  &__icons {
    margin-top: 2rem;
    // flex: 1;
    display: flex;
    justify-content:center;
    >:nth-child(n) {
      margin: 0 20px;
      color: $primary-white;
      &:hover {
        & path {
          fill: $primary-yellow;
        }
      }
    }
  }
  &__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  &__download {
    width: 10rem;
    margin: 0 auto;
    border: 0;
    color: $primary-white;
    background-color: $primary-yellow;
    &:hover {
      opacity: 0.9;
      color: $primary-white;
      background-color: $primary-yellow;
    }
    &:focus {
      background-color: $primary-yellow;
      box-shadow: 0 0 0 0.2rem $primary-yellow-shadow;
    }
    &:active {
      background-color: $primary-yellow;
    }
  }
}