$primary-yellow: rgb(235, 199, 86);
$primary-yellow-bright: rgb(255, 218, 97);
$primary-yellow-shadow: rgba(235, 199, 86, 0.5);
$primary-yellow-overlay: rgba(235, 200, 86, 0.7);
$opacity-zero: rgba(235, 200, 86, 0);
$back-color: #030303c7;
$primary-white: #ffffff;

body {
  background-color: $back-color;
  font-family: "Titillium Web", sans-serif;
  color: $primary-white;
}

// components
@import './components/subtitle';
// layout
@import './layout/header';
// page
@import './pages/home';
@import './pages/about';
@import './pages/projects';
@import './pages/skills';
@import './pages/contact';