$primary-yellow: #ebc756;
$back-color: #242424;
$primary-white: #ffffff;

body {
  background-color: $back-color;
  font-family: "Consolas", sans-serif;
  color: $primary-white;
}

@import './layout/header';
@import './pages/home';
@import './pages/projects';